body {
    background-color: #E4E0DF;
}
.header {
    margin-left: 15px;
    margin-right:15px;
    margin-top: 5px;
    border-radius: 10px;
    display: flex;
    background-color: black;
}
.heading {
    color: white;
    margin-top: 10px;
    font-size: 45px;
    cursor: pointer;
}
.img {
    margin-left: 15px;
    width: 200px;
    height: 80px;
    cursor: pointer;
}
.logo, .empty-div {
    flex: 1;
}
.flexbox-container {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
}
.info {
    margin-top: 7%;
    margin-left: 20px;
    margin-right: 20px;
}
.info-p {
    width: 50%;
}
.info-h-main {
    font-size: 35px
}
.info-p-main {
    font-size: 25px;
}
.register {
    background-color: darkgray;
    font-size: 30px;
    color: #333333; 
}
.banner {
    padding-left: 10px;
}
.info-img {
    margin-top: 35px;
    margin-right: 10px;
    border-radius: 5px;
}
.form {
    margin-top: 5%;
    margin-bottom: 5%
}
.mentors {
    margin-top: 5%;
    background-color: darkgray;
    padding-top: 30px;
}
.flex-container {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
}
.flexb-container {
    display: flex;
    justify-content: center;
}
.cards {
    margin-left: 30px; 
    justify-content: space-around;
}
.card {
    margin-bottom: 40px;
}
.pic {
    width: 250px;
    height: 250px;
    border-radius: 125px;
}
.name {
    margin-top: 10px;
    font-size: 35px;
}
.about, .github {
    padding-left: 10px; 
    font-size: 20px;
}
@media (max-width:1200px) {
    .img {
        width: 150px;
        height: 55px;
    }
    .heading {
        font-size: 35px;
    }
    .flexbox-container {
        flex-direction: column;
    }
    .info-img {
        width: 100%;
        height: auto;
    }
    .info-p {
        width: 100%;
    }
    .info-p-main, .info-h-main {
        text-align: center;
    }
    .flex-container {
        flex-direction: column;
    }
    .flexb-container {
        flex-direction: column;
    }
    .pic {
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }
    .about, .email {
        font-size: 20px;
    }
}
.image-container {
    text-align: center;
}